*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
.all{
    height: fit-content;
}
.container{
    width: 1000;
    /* height: 50px;  */
    background-color: rgba(0, 0, 0, 0.829);
    background-size: cover;
    background-position: center;
    padding: auto;   
}
.fill{
    padding: 20px;
    /* padding-left: 350px; */
    background-color: rgba(0, 0, 0, 0.829);
    color: white;
    width: 1000;
    height: fit-content;
}
h1{
    padding-left: 90px;
    padding-bottom: 20px;
}
.sign{
    
    padding-left: 30px;
}
form{
    /* padding: 30px; */
}
input[type]{
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    width: 200px;
}
button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
button:hover{
    transform: scale(1.2);
}
.navbar{
    margin: 0;
    padding-top: 10px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #f9004d;
    transition: .4s;
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social{
    display: flex;
}
.social i{
    color: white;
    font-size: 40px;
    margin-right: 5px;
    margin-top: 25px;
    cursor: pointer;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.end{
    position: absolute;
    color: #f9004d;
    bottom: 35px;
    font-size: 14px;
}
.end i{
    font-size: 20px;
    margin-right: 5px;
    margin-top: 30px;
    color: #f9004d;
}