*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
    background-color: #101010;
    background-size: cover;
    background-position: center;
    color: white;
}

nav{
    width: 100%;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}

ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

ul li a:hover{
    color: #f9004d;
    transition: .4s;
}
.container{
    margin: 20px;
}
.container p{
    margin-bottom: 30px;
    letter-spacing: 1px;
    word-spacing: 1px;
}
.container h1{
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}
.container h1 span{
    color: #f9004d;
}
.skill-img{
    padding-bottom: 30px;
    /* margin: 60px; */
}
.skill-img h4 span{
    color: #f9004d;
}
